<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <login-config>
        <auth-method>BASIC</auth-method>
        <!--auth-method>DIGEST</auth-method-->
        <!--auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
        </form-login-config-->
        <!--realm-name>nop</realm-name-->
    </login-config>


</web-app>